<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Price Predictions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>TSLA Closing Price Predictions</h1>
        <h4>for {{ next_date }}</h4>
        <table>
            <thead>
                <tr>
                    <th>Model</th>
                    <th>Prediction</th>
                </tr>
            </thead>
            <tbody>
                {% for model, prediction in predictions.items() %}
                <tr>
                    <td>{{ model }}</td>
                    <td>${{ prediction }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
